@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* common section  */

.heading {
  color: #ffffff;
  font-size: 3em;
  font-weight: 900;
}

.paragraph {
  color: #ffffff80;
  font-size: 0.9em;
  font-weight: 400;
}

.btn {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.8em 2.5em;
  border: none;
  border-radius: 2.6em;
  background-color: #e6533c;
}

.btn:hover {
  cursor: pointer;
}

/* header section  */

header {
  background-color: black;
}

/* nav bar section  */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav-container h3 {
  color: #e6533c;
  font-size: 2.2em;
  font-weight: 800;
  font-style: italic;
}

.nav-container ul {
  display: flex;
  align-items: center;
  padding: 0.2em;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-container li {
  list-style: none;
  margin-right: 3em;
}

.nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 400;
}

.nav-home-color {
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-radius: 3em;
  background-color: #e6533c;
}

.nav-container > img {
  display: none;
}

/* banner section  */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.banner-content {
  width: 40%;
}

.banner-content h1 {
  color: #ffffff;
  font-size: 4.9em;
  font-weight: 900;
}

.banner-content p {
  font-size: 1em;
  padding: 1.7em 0;
}

/* banner section card making  */

.banner-img {
  position: relative;
}

.free-video {
  width: 193px;
  padding: 1em 1.5em;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 23%;
  right: -20%;
}

.free-video h3 {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 900;
}

.free-video p {
  color: #ffffffa6;
  font-size: 0.8em;
  font-weight: 400;
}

.vdo-tutorial {
  width: 206px;
  padding: 1.2em 1.5em;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 12%;
  left: -35%;
}


.vdo-tutorial h3 {
  color: #fafaf9;
  font-size: 2em;
  font-weight: 900;
}

.vdo-tutorial p {
  color: #efede8a6;
  font-size: 1em;
  font-weight: 400;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* nav bar section  */

  .nav-container {
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }

  .nav-container ul {
    display: none;
  }

  .nav-container > img {
    display: inline;
  }

  /* banner section  */

  .banner-container {
    flex-direction: column;
    padding: 0 5%;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 3em;
  }

  .banner-img img {
    width: 100%;
  }

  .free-video {
    width: 40%;
    padding: 0.5em 1em;
    top: 50px;
    left: 200px;
  }

  .vdo-tutorial {
    width: 50%;
    padding: 0.5em 1em;
    bottom: 200px;
    left: 0;
  }

  .btn {
    padding: 0.8em 1.5em;
  }

  .btn span {
    display: none;
  }

  .btn-box {
    display: flex;
    justify-content: space-around;
  }
}
