@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* common section  */

.heading {
  color: #ffffff;
  font-size: 3em;
  font-weight: 900;
}

.paragraph {
  color: #ffffff80;
  font-size: 0.9em;
  font-weight: 400;
}

.btn {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.8em 2.5em;
  border: none;
  border-radius: 2.6em;
  background-color: #e6533c;
}

.btn:hover {
  cursor: pointer;
}

/* header section  */

header,
main {
  background-color: black;
}

/* nav bar section  */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav-container h3 {
  color: #e6533c;
  font-size: 2.2em;
  font-weight: 800;
  font-style: italic;
}

.nav-container ul {
  display: flex;
  align-items: center;
  padding: 0.2em;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-container li {
  list-style: none;
  margin-right: 3em;
}

.nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 400;
}

.nav-home-color {
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-radius: 3em;
  background-color: #e6533c;
}

.nav-container > img {
  display: none;
}

/* banner section  */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
  padding-bottom: 40px;
}

.banner-content {
  width: 40%;
}

.banner-content h1 {
  color: #ffffff;
  font-size: 4.9em;
  font-weight: 900;
}

.banner-content p {
  font-size: 1em;
  padding: 1.7em 0;
}

/* banner section card making  */

.banner-img {
  position: relative;
}

.free-video {
  width: 193px;
  padding: 1em 1.5em;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 23%;
  right: -20%;
}

.free-video h3 {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 900;
}

.free-video p {
  color: #ffffffa6;
  font-size: 0.8em;
  font-weight: 400;
}

.vdo-tutorial {
  width: 206px;
  padding: 1.2em 1.5em;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 12%;
  left: -35%;
}

.vdo-tutorial h3 {
  color: #fafaf9;
  font-size: 2em;
  font-weight: 900;
}

.vdo-tutorial p {
  color: #efede8a6;
  font-size: 1em;
  font-weight: 400;
}

/* habit section  */

.habit-container {
  padding-bottom: 4em;
}

.habit-content {
  text-align: center;
}

.habit-content p {
  padding-top: 0.9em;
  padding-bottom: 3em;
}

.workout {
  display: flex;
  justify-content: center;
  gap: 7em;
}

.box {
  width: 231px;
  text-align: center;
}

.box img {
  border-radius: 50%;
}

.box h5 {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 600;
  padding-top: 1.3em;
  padding-bottom: 0.5em;
}

/* Running card section  */

.run-container {
  width: 974px;
  border-radius: 18px;
  padding: 25px 54px;
  background-color: #222;
  display: flex;
  margin: 0 auto;
  gap: 100px;
}

.run-container > img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
}

.run-content {
  width: 443px;
}

.run-content p {
  padding-top: 1em;
  padding-bottom: 2em;
}

/* training section  */

.training-container {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 300px;
}

.training-content p {
  padding-top: 1em;
  padding-bottom: 3em;
}

.train-img-container img {
  height: 250px;
  width: 100%;
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-container {
  position: relative;
  height: 250px;
}

.img-container p {
  position: absolute;
  top: 85%;
  left: 10%;
  color: #da280c;
}

/* BMI section  */

.bmi-container {
  padding-bottom: 4em;
}

.bmi-body {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 3em 0;
  gap: 25em;
}

.bmi-header {
  padding-bottom: 3em;
  text-align: center;
}

.bmi-header h3 {
  padding-bottom: 0.2em;
  padding-right: 380px;
}

.bmi-body h4 {
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 900;
  padding-bottom: 2em;
}

table {
  border-collapse: collapse;
}

th {
  color: #ffffff;
  border: 1px solid #ffffff1a;
  padding: 1em;
}

td {
  color: #ffffff80;
  border: 1px solid #ffffff1a;
  padding: 1em;
}

.bmi-calculator p {
  width: 577px;
  padding-top: 0.9em;
  padding-bottom: 2em;
}

.bmi-calculator h4 {
  padding: 0;
}

input,
select {
  color: #ffffff99;
  font-size: 1em;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 16px 46px 16px 26px;
  margin-right: 10px;
  margin-bottom: 10px;
}

select {
  color: #a3a1a199;
}

.sex {
  padding-right: 190px;
}

.factor {
  padding-right: 333px;
  margin-bottom: 2em;
}

.bmi-calculator > form > button {
  padding: 1em 4em;
}

/* Team section  */

.team-container {
  padding-bottom: 4em;
}

.team-heading {
  text-align: center;
  padding-bottom: 3em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin: auto;
  gap: 1em;
  padding: 1.4em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
}

.card {
  width: 326px;
  height: 272px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  filter: brightness(80%);
}

.card h4 {
  color: #ffffff;
  position: absolute;
  top: 80%;
  left: 5%;
}

.card p {
  color: #ffffff80;
  position: absolute;
  top: 90%;
  left: 5%;
}

/* success stories  */
.success-box-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-bottom: 3em;
}

.success-heading {
  text-align: center;
  padding-bottom: 4em;
}

.success-box {
  padding: 1.4em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
}

.success-box h4 {
  color: #ffffff;
  font-size: 1.5em;
  padding-top: 1em;
}

.success-box p {
  width: 400px;
  padding-top: 1em;
}

.success-box img {
  width: 400px;
  height: 272px;
  border-radius: 8px;
}

/* footer section  */

footer {
  background-color: #222;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 3em;
}

.left {
  width: 443px;
}

.left h2 {
  color: #e6533c;
  font-size: 4em;
  font-weight: 800;
}

.left p {
  color: #ffffff80;
  font-size: 0.9em;
  font-weight: 400;
  padding-top: 1em;
  text-align: start;
}

.middle h3 {
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 1em;
}

.right h3 {
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 1em;
}

.footer-container a {
  text-decoration: none;
  color: #ffffff80;
  font-size: 1.5em;
  font-weight: 400;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hr {
  width: 60%;
  height: 1px;
  border: 1px solid #FFFFFF1A;
  margin: auto;
}

footer p {
  color: #FFFFFF80;
  text-align: center;
  padding: 1.5em 0;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* nav bar section  */

  .nav-container {
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }

  .nav-container ul {
    display: none;
  }

  .nav-container > img {
    display: inline;
  }

  /* banner section  */

  .banner-container {
    flex-direction: column;
    padding: 0 5%;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 3em;
  }

  .banner-img img {
    width: 100%;
  }

  .free-video {
    width: 40%;
    padding: 0.5em 1em;
    top: 50px;
    left: 200px;
  }

  .vdo-tutorial {
    width: 50%;
    padding: 0.5em 1em;
    bottom: 200px;
    left: 0;
  }

  .btn {
    padding: 0.8em 1.5em;
  }

  .btn span {
    display: none;
  }

  .btn-box {
    display: flex;
    justify-content: space-around;
  }

  /* habbit section  */

  .habit-content > h3 {
    font-size: 2em;
  }

  .habit-content > p {
    margin: 0 5px;
  }

  .workout {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  /* running card section  */

  .run-container {
    flex-direction: column;
    width: 90%;
    gap: 30px;
    padding: 30px;
  }

  .run-container > img {
    width: 100%;
    height: 170px;
  }

  .run-content {
    width: 100%;
  }

  .run-content h3 {
    font-size: 2em;
  }

  .run-btn button {
    padding: 0.8em 36%;
  }

  /* traing section  */

  .training-container {
    margin: 0 15px;
  }

  .row-1 {
    display: none;
  }

  .row-2 {
    grid-template-columns: 1fr;
  }

  .row-2 img {
    border-radius: 16px;
    padding-bottom: 5px;
  }

  /* Bmi section  */

  .bmi-header {
    margin: 15px;
  }

  .bmi-header h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }

  .bmi-header p {
    padding-top: 1em;
  }

  .bmi-body {
    flex-direction: column;
    gap: 2em;
  }

  .bmi-calculator,
  .bmi-chart {
    margin: 18px;
  }

  .bmi-calculator p {
    width: 100%;
  }

  input,
  select {
    padding: 1em 1em;
    width: 45%;
  }

  .sex {
    padding: 1em 1em;
  }

  .factor {
    padding: 1em 1em;
    width: 94%;
  }

  /* team section  */

  .team-heading {
    margin: 15px;
  }

  .team-heading h3 {
    font-size: 2.5em;
  }

  .card-container {
    grid-template-columns: 1fr;
    margin: 1em;
    padding: 1em;
  }

  .invi {
    display: none;
  }

  /* success section  */

  .success-box-container {
    flex-direction: column;
    gap: 0;
  }

  .success-box {
    margin: 18px;
  }

  .success-box p {
    width: 100%;
  }

  .success-box img {
    width: 100%;
    height: 100%;
  }

  /* footer section  */

  .footer-container {
    flex-direction: column;
    margin: 0;
    padding: 0 18px;
  }

  .left {
    width: 100%;
  }

  .middle h3 {
    padding-bottom: 0.5em;
  }

  .right h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .hr {
    margin-top: 1em;
    width: 90%;
  }
}
